
# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ---- Virtual environments ----
.venv/
venv/
ENV/
env/

# ---- Django ----
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- IDEs ----
.vscode/
.idea/

# ---- Jupyter ----
.ipynb_checkpoints/

